{
  "env": {
    "browser": true,
    "es6": true
  },
  "globals": {
    "p5": true,
    "assert": true,
    "expect": true,
    "sinon": true,
    "birdSprite": true,
    "pipePeakSprite": true,
    "pipeBodySprite": true,
    "Bird": true,
    "Pipe": true
  }
}
